\obj
*.png
fort*
BFL*
*.nek5000
*log*
H*
*.dat*
Re*
Im*
session*
SESSION*
makefile
.state
nek5000
vor*
KRY*
*.swp
*~
SPG*
1cyl0.f*
1cyl.f
cav.f
1cav0.f*
square0*
blayer0*
cav0*
BF_*0.f00002
BF_blayer0.f00001
makefile_usr.inc
# python stuff
*.pyc
.cache
__pycache__
slurm*
