\obj
*.png
fort*
BFL*
*.nek5000
*log*
H*
*.dat*
Re*
Im*
session*
SESSION*
makefile
.state
nek5000
vor*
KRY*
*.swp
NEKSTAB.inc
*~
SPG*
1cyl0.f*
1cyl.f
cav.f
cav0.f*
BM11cyl0.f00001
channel.f
square.f
square0*
blayer0*
cav0*
BF_*0.f00002
makefile_usr.inc
*makefile_usr.inc
# python stuff
*.pyc
.cache
__pycache__
slurm*
