\obj
*.o
*.png
examples/*core*
fort*
BFL*
SPG*
BMS*
BF_*0.f00002
nek5000
*.nek5000
*log*
*.mod
H*
*.info
*.dat*
nwt*
dRe*
aRe*
dIm*
aIm*
session*
SESSION*
makefile
.state
vor*
vox*
KRY*
*.swp
NEKSTAB.inc
*~
makefile_usr.inc
*.pyc
.cache
__pycache__
slurm*
